<hello name="{{ name }}"></hello>
<br/>

<div> Months : <select (change) = "changemonths($event)"> <option *ngFor = "let i of months">{{i}}</option> </select> </div> <br/>

<br/>
<div> <span *ngIf = "isavailable">Condition is valid.</span>  </div>

<br/>

<div> <span *ngIf="isavailable; else conditionif">Condition is valid..</span> <ng-template #conditionif>Condition is invalid..</ng-template> </div>

<br/>
<div> <span *ngIf="isavailable; then condition1 else condition2">Condition is valid...</span> <ng-template #condition1>Condition is valid...</ng-template> 
<ng-template #condition2>Condition is invalid...</ng-template> </div>
<br/>

<div>
<span *ngIf = "isavailable;then condition3 else condition4">Condition is valid....</span>
<ng-template #condition3>Condition is valid from template....</ng-template>
<ng-template #condition4>Condition is invalid from template....</ng-template>
</div>
<button (click)="myClickFunction($event)">
Click Me
</button>